.card{
    box-sizing: border-box;
    width: 200px;
    border: 2px solid black;
    display: inline-block;
    padding: 0 3px 0 3px;
    border-radius: 5px;
    box-shadow: 2px 2px 7px black;
    margin: 20px; 
    transition: transform 0.5s ease 0.2s;

}

img{
    width: 100%;
    background-size: cover;
}
.card:hover{
    box-shadow: 4px 5px 10px black; 
    transform: translateX(5px) translateY(2px);
}
.desc h3{
    margin: 5px;
    display: inline-block;
}
.desc p{
    margin-bottom: 5px;
    display: inline-block;
}
.desc{
    padding: 0 0 0 3px;
}
